.DS_Store
0602650.pdf
DAGVOS_1.0
GrabCut
Initial_results
LabelMeToolbox
LabelMeToolbox.zip
LabelMeToolboxImage.zip
SegTrack_201102.zip
SegTrack_201111
SegTrack_201111 2
Toyama-Gaze-Guided-Object-Recognition-ETRA12.pdf
VideoFinalExpBuild
actionRecognitionEyeTracking.pdf
allEyeTrackingData
annotationFolder
annotations
codes
coords
example.xml
eyeOverlayVideos
eyeTrackingDatasetsOverview.pdf
eyeTrackingImageClassification.pdf
eyeTrackingInputVideos
eyeTrackingInputVideos2
finalVideos7_11
flow-code-matlab
framePointTracks
framePointTracks 2.zip
framePointTracks.zip
framePointTracks1
frameTest
frameTest1
frameTracks
frameTracks.zip
frameTracks1
frog_contour
gaze_hollywood2
gaze_hollywood2.zip
gaze_ucfsa.zip
gen.png
imagesFolder
imagesFolderThuyen
imagesTest
kart_resume.pdf
labelpropagation
last_time_point_t192.ome.tif
matFiles
objectness-release-v2.1
opticalFlowFiles
origFrameTracks
smoothCoordParachute.mat
temp.png
tempResults
test.avi
ucf_sports_actions
ucf_sports_actions 2
ucf_sports_actions.zip
videoDatabase
videoObjectnessMATFiles
video_segmentation
video_segmentation.zip
videos
videosNotResized
xmlHandle.mat
youtubeObjects
